<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <!-- Remove WebDAV module so it does not intercept PUT/DELETE requests on IIS -->
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <!-- Remove WebDAV handler so PUT/DELETE reach the ASP.NET Core app -->
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\OBMS.WebAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 9A0A75BB-F6A0-412B-A664-B18E6D204932-->